.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  > li {
    margin-left: get-size('800');
    margin-right: get-size('800');
    margin-bottom: get-size('500');
  }
}
