.button {
  color: get-color('light');
  border: 5px solid get-color('dark');
  background: get-color('secondary');
  text-decoration: none;
  padding-top: get-size('400');
  padding-right: get-size('900');
  padding-bottom: get-size('400');
  padding-left: get-size('900');
  display: inline-block;
  font-style: italic;
  font-size: get-size('500');
  text-transform: uppercase;
  font-size: get-size('500');
  font-weight: bold;

  &:not([class*='bg-']) {
    background: #ea1c5c;
  }

  &[data-size='large'] {
    font-size: get-size('700');
  }
}
